.list-container {
    height: 90vh;
}

.list {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

.list::-webkit-scrollbar {
    display: none;
}
